{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if img %}
{{ filename}}
<div class="outsideWrapper" id="outsideWrapper">
	<div class="insideWrapper">
		<img src="{{ url_for('images', filename=filename) }}" id="coveredImage" class="coveredImage" name={{ filename }}>
		<canvas id='inputCanvas' class="coveringCanvas" width={{ img.size[0] }} height={{ img.size[1] }}></canvas>
		
		<canvas id="layer2" width={{ img.size[0] }} height={{ img.size[1] }} style="position: absolute; left: 0; top: 0;"></canvas>
</div>
	</div>
</div>

<br>
<div class="row text-center">
	<button class="btn btn-primary" id="clearButton">Clear</button>
	<button class="btn btn-primary" id="checkpointButton">Save checkpoint</button>
	<button class="btn btn-primary" id="sendButton">Save groundtruth and next image</button>
	<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="80" data-slider-step="1" data-slider-value="20"/>
</div>
<div class="radio">
	<label><input type="radio" value='brush' name="optradio" checked>Brush</label>
</div>
<div class="radio">
	<label><input type="radio" value='superpixel' name="optradio">Superpixels</label>
</div>

{% else %}
<h1>You have labeled all images currently available</h1>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">var mask = {{ mask | tojson }}; var segments = {{ segments  | tojson}};</script>
<script src="{{ url_for('static', filename='js/posting.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
			
